@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&family=Kumbh+Sans:wght@200;700;900&family=Montserrat&family=Red+Hat+Display:wght@400;500&family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Bellefair&family=Kumbh+Sans:wght@200;700;900&family=Montserrat&family=Red+Hat+Display:wght@400;500&family=Rubik:wght@300&display=swap');
*
{
    margin: 0;
    padding: 0;
}
@media all and (max-width: 2000px) and (min-width: 1201px) {
    body
    {
        background-image: url('../assets/crew/background-crew-desktop.jpg');
        background-attachment: fixed;
        background-size: cover;
        font-family: "Barlow Codensed", sans-serif;
        overflow-y: hidden;
    }
    #menuphone
    {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        display: none;
    }
    #menuhamb
    {
        display: none;
    }
    nav
    {
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 3%;
    }
    nav ul
    {
        display: flex;
        align-items: center;
        background: hsl( 0 0% 100% / 0.1);
        backdrop-filter: blur(1.5rem);
        width: 100%;
        height: 100px;
        gap: 5%;
        justify-content: center;
    }
    nav li
    {
        list-style: none;
        height: 94px;
        display: flex;
        align-items: center;
        border-bottom: 3px solid rgba(255, 255, 255, 0);
    }
    nav li:hover
    {
        border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    }
    nav a
    {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
    }
    #line
    {
        width: 100%;
    }
    hr
    {
        width: 100%;
    }
    #logo
    {
        margin-left: 4%;
        margin-right: 3%;
    }
    #destination
    {
        border-bottom: solid 3px white;
    }
    #tit
    {
        color: white;
        display: flex;
        align-items: center;
        font-family: "Barlow Codensed", sans-serif;
        margin-top: 5%;
        margin-left: 20%;
    }
    #number
    {
        color: hsl( 0 0% 100% / .25);
        margin-right: 2%;
    }
    #title
    {
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;
        
    }
    #maindouglas
    {
        display: flex;
        justify-content: center;
        color: white;
        width: 60%;
        margin-left: 20%;
        gap: 10%;
        margin-top: 2%;
    }
    #maintext
    {
        margin-top: 10%;
    }
    #maintext h3
    {
        font-family: "Bellefair", serif;
        text-transform: uppercase;
        color: hsl( 0 0% 100%/ .5);
        font-weight: 100;
        font-size: 30px;
        margin-bottom: 2%;
    }
    #maintext h1
    {
        font-size: 50px;
        text-transform: uppercase;
        font-weight: 100;
        font-family: "Bellefair", serif;
        margin-bottom: 4%;
    }
    #maintext p
    {
        line-height: 30px;
    }
    #mainchange
    {
        display: flex;
        align-items: center;
        gap: 4%;
        margin-top: 40%;
    }
    .change
    {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: white;
        opacity: 0.5;
        cursor: pointer;
    }
    .this
    {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: white;
    }
    #mainmark
    {
        display: flex;
        justify-content: center;
        color: white;
        width: 60%;
        margin-left: 20%;
        gap: 10%;
        margin-top: 2%;
        display: none;
    }
    #mainvictor
    {
        display: flex;
        justify-content: center;
        color: white;
        width: 60%;
        margin-left: 20%;
        gap: 10%;
        margin-top: 2%;
        display: none;
    }
    #mainansa
    {
        display: flex;
        justify-content: center;
        color: white;
        width: 60%;
        margin-left: 20%;
        gap: 10%;
        margin-top: 2%;
        display: none;
    }
}

@media all and (max-width: 1200px) and (min-width: 771px) 
{
    body
    {
        background-image: url('../assets/crew/background-crew-tablet.jpg');
        background-attachment: fixed;
        background-size: cover;
        font-family: "Barlow Codensed", sans-serif;
        overflow-y: hidden;
    }
    #menuphone
    {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        display: none;
    }
    #menuhamb
    {
        display: none;
    }
    nav
    {
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 3%;
    }
    nav ul
    {
        display: flex;
        align-items: center;
        background: hsl( 0 0% 100% / 0.1);
        backdrop-filter: blur(1.5rem);
        width: 100%;
        height: 100px;
        gap: 5%;
        justify-content: center;
    }
    nav li
    {
        list-style: none;
        height: 94px;
        display: flex;
        align-items: center;
        border-bottom: 3px solid rgba(255, 255, 255, 0);
    }
    nav li:hover
    {
        border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    }
    nav a
    {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
    }
    #line
    {
        width: 35%;
    }
    hr
    {
        width: 100%;
    }
    #logo
    {
        margin-left: 4%;
        margin-right: 3%;
    }
    #destination
    {
        border-bottom: solid 3px white;
    }
    #tit
    {
        color: white;
        display: flex;
        align-items: center;
        font-family: "Barlow Codensed", sans-serif;
        margin-top: 5%;
        margin-left: 10%;
    }
    #number
    {
        color: hsl( 0 0% 100% / .25);
        margin-right: 2%;
    }
    #title
    {
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;
        
    }
    #maindouglas
    {
        display: flex;
        justify-content: center;
        color: white;
        width: 60%;
        margin-left: 20%;
        gap: 10%;
        margin-top: 2%;
    }
    #maintext
    {
        margin-top: 10%;
    }
    #maintext h3
    {
        font-family: "Bellefair", serif;
        text-transform: uppercase;
        color: hsl( 0 0% 100%/ .5);
        font-weight: 100;
        font-size: 30px;
        margin-bottom: 2%;
    }
    #maintext h1
    {
        font-size: 50px;
        text-transform: uppercase;
        font-weight: 100;
        font-family: "Bellefair", serif;
        margin-bottom: 4%;
    }
    #maintext p
    {
        line-height: 30px;
    }
    #mainchange
    {
        display: flex;
        align-items: center;
        gap: 4%;
        margin-top: 40%;
    }
    .change
    {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: white;
        opacity: 0.5;
        cursor: pointer;
    }
    .this
    {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: white;
    }
    #mainmark
    {
        display: flex;
        justify-content: center;
        color: white;
        width: 60%;
        margin-left: 20%;
        gap: 10%;
        margin-top: 2%;
        display: none;
    }
    #mainvictor
    {
        display: flex;
        justify-content: center;
        color: white;
        width: 60%;
        margin-left: 20%;
        gap: 10%;
        margin-top: 2%;
        display: none;
    }
    #mainansa
    {
        display: flex;
        justify-content: center;
        color: white;
        width: 60%;
        margin-left: 20%;
        gap: 10%;
        margin-top: 2%;
        display: none;
    }
    #douglasimg
    {
        width: 95%;
    }
    #markimg
    {
        width: 70%;
    }
    #victorimg
    {
        width: 100%;
    }
    #ansaimg
    {
        width: 90%;
    }
}

@media (max-width: 770px)
{
    body
    {
        background-image: url('../assets/crew/background-crew-mobile.jpg');
        background-attachment: fixed;
        background-size: cover;
        font-family: "Barlow Codensed", sans-serif;
        overflow-y: hidden;
    }
    nav
    {
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 3%;
    }
    #menuphone
    {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        display: none;
    }
    #imghamb 
    {
        width: 100%;
    }
    #menuclose
    {
        margin-top: 2%;
        margin-left: 2%;
        width: 7%;
        cursor: pointer;
    }
    #menuhamb
    {
        margin-right: 5%;
        width: 6%;
        cursor: pointer;
        float: right;
        display: block;
    }
    nav ul
    {
        
        display: none;
    }
    #line
    {
        width: 100%;
        display: none;
    }
    hr
    {
        width: 100%;
    }
    #logo
    {
        margin-left: 4%;
        margin-right: 3%;
    }
    #destination
    {
        border-bottom: solid 3px white;
    }
    #tit
    {
        color: white;
        display: flex;
        align-items: center;
        font-family: "Barlow Codensed", sans-serif;
        margin-top: 5%;
        margin-left: 5%;
    }
    #number
    {
        color: hsl( 0 0% 100% / .25);
        margin-right: 2%;
        font-size: 17px;
    }
    #title
    {
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 17px;
        
    }
    #maindouglas
    {
        display: table;
        justify-content: center;
        color: white;
        width: 60%;
        margin-left: 20%;
        gap: 10%;
        margin-top: 2%;
        display: none;
    }
    #mainmark
    {
        display: table;
        justify-content: center;
        color: white;
        width: 60%;
        margin-left: 20%;
        gap: 10%;
        margin-top: 2%;
    }
    #mainvictor
    {
        display: table;
        justify-content: center;
        color: white;
        width: 60%;
        margin-left: 20%;
        gap: 10%;
        margin-top: 2%;
        display: none;
    }
    #mainansa
    {
        display: table;
        justify-content: center;
        color: white;
        width: 60%;
        margin-left: 20%;
        gap: 10%;
        margin-top: 2%;
        display: none;
    }
    #maintext
    {
        margin-top: 10%;
        display: table-footer-group;
    }
    #maintext h3
    {
        font-family: "Bellefair", serif;
        text-transform: uppercase;
        color: hsl( 0 0% 100%/ .5);
        font-weight: 100;
        font-size: 30px;
        margin-bottom: 2%;
    }
    #maintext h1
    {
        font-size: 50px;
        text-transform: uppercase;
        font-weight: 100;
        font-family: "Bellefair", serif;
        margin-bottom: 4%;
    }
    #maintext p
    {
        line-height: 30px;
    }
    #mainchange
    {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4%;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .change
    {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: white;
        opacity: 0.5;
        cursor: pointer;
    }
    .this
    {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: white;
    }
    #douglasimg
    {
        width: 70%;
        margin-left: 15%;
    }
    #markimg
    {
        width: 70%;
    }
    #victorimg
    {
        width: 70%;
        margin-left: 15%;
    }
    #ansaimg
    {
        width: 70%;
        margin-left: 15%;
    }
    #navbarmin a
    {
        color: white;
        text-decoration: none;
        font-size: 25px;
        text-transform: uppercase;
    }
    #navbarmin
    {
        display: flex;
        align-items: center;
        height: 50%;
        margin-top: 25%;
        justify-content: center;
    }
    #navbarmin ul
    {
        display: inline-block;
        text-align: center;
    }
    #navbarmin li
    {
        list-style: none;
        margin-bottom: 5%;
    }
    #navbarmin li:hover
    {
        border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    }
    .op
    {
        overflow-y: hidden;
    }

}