@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&family=Kumbh+Sans:wght@200;700;900&family=Montserrat&family=Red+Hat+Display:wght@400;500&family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Bellefair&family=Kumbh+Sans:wght@200;700;900&family=Montserrat&family=Red+Hat+Display:wght@400;500&family=Rubik:wght@300&display=swap');
*
{
    margin: 0;
    padding: 0;
}

@media all and (max-width: 2000px) and (min-width: 1351px) {
    body
    {
        background-image: url('../assets/home/background-home-desktop.jpg');
        background-attachment: fixed;
        background-size: cover;
        font-family: "Barlow Codensed", sans-serif;
    }
    #main
    {
        display: flex;
        align-items: center;
        width: 50%;
        margin-left: 25%;
        margin-top: 15%;
        gap: 10%;
    }
    #maintext h2
    {
        color: #d2d8f9;
        font-weight: 400;
        letter-spacing: 2.5px;
        text-transform: uppercase;
    }
    #maintext h1
    {
        color: white;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-weight: 300;
        font-family: "Bellefair", serif;
        font-size: 140px;
    }
    #maintext
    {
        color: white;
        width: 55%;
    }
    #maintext p
    {
        line-height: 1.5;
    }
    #line
    {
        width: 100%;
    }
    hr
    {
        width: 100%;
    }
    nav ul
    {
        display: flex;
        align-items: center;
        background: hsl( 0 0% 100% / 0.1);
        backdrop-filter: blur(1.5rem);
        width: 100%;
        height: 100px;
        gap: 5%;
        justify-content: center;
    }
    #menuhamb
    {
        display: none;
    }
    #mainstart
    {
        background-color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 55px;
        font-weight: 400;
        padding: 10%;
        cursor: pointer;
        transition: all 0.7s;
        font-family: "Bellefair", serif;
        aspect-ratio: 1;
    }
    #imghamb
    {
        display: none;
    }
    #menuphone
    {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: black;
        display: none;
    }
    #menuclose
    {
        margin-top: 2%;
        margin-left: 2%;
        width: 7%;
        cursor: pointer;
    }
    nav
    {
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 3%;
    }

    nav li
    {
        list-style: none;
        height: 94px;
        display: flex;
        align-items: center;
        border-bottom: 3px solid rgba(255, 255, 255, 0);
    }
    nav li:hover
    {
        border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    }
    nav a
    {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    #logo
    {
        margin-left: 4%;
        margin-right: 3%;
    }

    #mainstart:hover
    {
        box-shadow:0px 0px 0px 50px rgba(255,255,255,0.2);
        transition: all 0.7s;
    }
    #home
    {
        border-bottom: solid 3px white;
    }
    #mainstart a
    {
        text-decoration: none;
        color: black;
    }
    
}

@media all and (max-width: 1350px) and (min-width: 771px) 
{
    body
    {
        background-image: url('../assets/home/background-home-tablet.jpg');
        background-attachment: fixed;
        background-size: cover;
        font-family: "Barlow Codensed", sans-serif;
    }
    #main
    {
        display: flex;
        align-items: center;
        width: 50%;
        margin-left: 25%;
        margin-top: 15%;
        gap: 25%;
        justify-content: center;
    }
    #maintext h2
    {
        color: #d2d8f9;
        font-weight: 400;
        letter-spacing: 2.5px;
        text-transform: uppercase;
        font-size: 15px;
    }
    #maintext h1
    {
        color: white;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-weight: 300;
        font-family: "Bellefair", serif;
        font-size: 100px;
    }
    #maintext
    {
        color: white;
        width: 55%;
        text-align: center;
    }
    #maintext p
    {
        line-height: 1.5;
        font-size: 14px;
    }
    #line
    {
        width: 45%;
    }
    hr
    {
        width: 100%;
    }
    nav ul
    {
        display: flex;
        align-items: center;
        background: hsl( 0 0% 100% / 0.1);
        backdrop-filter: blur(1.5rem);
        width: 100%;
        height: 100px;
        gap: 5%;
        justify-content: center;
    }
    #menuhamb
    {
        display: none;
    }
    #mainstart
    {
        background-color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 55px;
        font-weight: 400;
        padding: 10%;
        cursor: pointer;
        transition: all 0.7s;
        font-family: "Bellefair", serif;
        aspect-ratio: 1;
    }
    #imghamb
    {
        display: none;
    }
    #menuphone
    {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        display: none;
    }
    #menuclose
    {
        margin-top: 2%;
        margin-left: 2%;
        width: 7%;
        cursor: pointer;
    }
    nav
    {
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 3%;
    }

    nav li
    {
        list-style: none;
        height: 94px;
        display: flex;
        align-items: center;
        border-bottom: 3px solid rgba(255, 255, 255, 0);
    }
    nav li:hover
    {
        border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    }
    nav a
    {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    #logo
    {
        margin-left: 4%;
        margin-right: 3%;
    }

    #mainstart:hover
    {
        box-shadow:0px 0px 0px 50px rgba(255,255,255,0.2);
        transition: all 0.7s;
    }
    #home
    {
        border-bottom: solid 3px white;
    }
    #mainstart a
    {
        text-decoration: none;
        color: black;
    }
}

@media (max-width: 770px)
{
    body
    {
        background-image: url('../assets/home/background-home-mobile.jpg');
        background-attachment: fixed;
        background-size: cover;
        font-family: "Barlow Codensed", sans-serif;
    }
    #main
    {
        width: 50%;
        margin-left: 25%;
        margin-top: 15%;
 
    }
    #maintext h2
    {
        color: #d2d8f9;
        font-weight: 400;
        letter-spacing: 2.5px;
        text-transform: uppercase;
        font-size: 15px;
    }
    #maintext h1
    {
        color: white;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-weight: 300;
        font-family: "Bellefair", serif;
        font-size: 70px;
    }
    #maintext
    {
        color: white;
        text-align: center;
        margin-bottom: 20%;
    }
    #maintext p
    {
        line-height: 1.5;
        font-size: 14px;
    }
    #line
    {
        width: 60%;
        display: none;
    }
    hr
    {
        width: 100%;
    }
    nav
    {
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 3%;
    }
    nav ul
    {
        display: none;
    }
    #logo
    {
        margin-left: 4%;
        margin-right: 3%;
    }
    #menuhamb
    {
        margin-right: 5%;
        width: 6%;
        cursor: pointer;
        float: right;
    }
    #mainstart
    {
        background-color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 55px;
        font-weight: 400;
        padding: 2%;
        cursor: pointer;
        transition: all 0.7s;
        font-family: "Bellefair", serif;
        aspect-ratio: 1;
    }
    #menuphone
    {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        display: none;
        transition: 0.5s all;
    }
    #imghamb
    {
        width: 100%;
    }
    #menuclose
    {
        margin-top: 2%;
        margin-left: 2%;
        width: 7%;
        cursor: pointer;
    }
    #navbarmin a
    {
        color: white;
        text-decoration: none;
        font-size: 25px;
        text-transform: uppercase;
    }
    #navbarmin
    {
        display: flex;
        align-items: center;
        height: 50%;
        margin-top: 25%;
        justify-content: center;
    }
    #navbarmin ul
    {
        display: inline-block;
        text-align: center;
    }
    #navbarmin li
    {
        list-style: none;
        margin-bottom: 5%;
    }
    #navbarmin li:hover
    {
        border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    }
    .op
    {
        overflow-y: hidden;
    }
    #mainstart a
    {
        text-decoration: none;
        color: black;
    }
}
