@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&family=Kumbh+Sans:wght@200;700;900&family=Montserrat&family=Red+Hat+Display:wght@400;500&family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Bellefair&family=Kumbh+Sans:wght@200;700;900&family=Montserrat&family=Red+Hat+Display:wght@400;500&family=Rubik:wght@300&display=swap');
*
{
    margin: 0;
    padding: 0;
}
@media all and (max-width: 2000px) and (min-width: 1201px) {
    body
    {
        background-image: url('../assets/technology/background-technology-desktop.jpg');
        background-attachment: fixed;
        background-size: cover;
        font-family: "Barlow Codensed", sans-serif;
        overflow-y: hidden;
    }
    #menuphone
    {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        display: none;
    }
    #menuhamb
    {
        display: none;
    }
    nav
    {
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 3%;
    }
    nav ul
    {
        display: flex;
        align-items: center;
        background: hsl( 0 0% 100% / 0.1);
        backdrop-filter: blur(1.5rem);
        width: 100%;
        height: 100px;
        gap: 5%;
        justify-content: center;
    }
    nav li
    {
        list-style: none;
        height: 94px;
        display: flex;
        align-items: center;
        border-bottom: 3px solid rgba(255, 255, 255, 0);
    }
    nav li:hover
    {
        border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    }
    nav a
    {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
    }
    #line
    {
        width: 100%;
    }
    hr
    {
        width: 100%;
    }
    #logo
    {
        margin-left: 4%;
        margin-right: 3%;
    }
    #destination
    {
        border-bottom: solid 3px white;
    }
    #tit
    {
        color: white;
        display: flex;
        align-items: center;
        font-family: "Barlow Codensed", sans-serif;
        margin-top: 5%;
        margin-left: 20%;
    }
    #number
    {
        color: hsl( 0 0% 100% / .25);
        margin-right: 2%;
    }
    #title
    {
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    #main
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin-left: 10%;
        gap: 4%;
    }
    #vehicle
    {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10%;
        width: 100%;
    }
    #spaceport
    {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10%;
        width: 100%;
        display: none;
    }
    #spacecapsule
    {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10%;
        width: 100%;
        display: none;
    }
    #maintechno
    {
        width: 35%;
    }
    #maintechno h4
    {
        color: #d0d6f9;
        text-transform: uppercase;
        font-family: "Bellefair", serif;
        font-weight: 100;
    }
    #maintechno h1
    {
        color: white;
        text-transform: uppercase;
        font-family: "Bellefair", serif;
        font-weight: 100;
        font-size: 50px;
        margin-top: 3%;
        margin-bottom: 3%;
    }
    #maintechno p
    {
        color: #d0d6f9;
    }
    .num2, .num3,.num1
    {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: solid 1px white;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 16px;
        font-size: 40px;
        font-family: "Bellefair", serif;
        cursor: pointer;
    }

    .num1:hover,.num2:hover,.num3:hover
    {
        color: black;
        background-color: white;
    }
    #this
    {
        color: black;
        background-color: white;
    }
}

@media all and (max-width: 1200px) and (min-width: 771px) 
{
    body
    {
        background-image: url('../assets/technology/background-technology-desktop.jpg');
        background-attachment: fixed;
        background-size: cover;
        font-family: "Barlow Codensed", sans-serif;
        overflow-y: hidden;
    }
    #menuphone
    {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        display: none;
    }
    #menuhamb
    {
        display: none;
    }
    nav
    {
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 3%;
    }
    nav ul
    {
        display: flex;
        align-items: center;
        background: hsl( 0 0% 100% / 0.1);
        backdrop-filter: blur(1.5rem);
        width: 100%;
        height: 100px;
        gap: 5%;
        justify-content: center;
    }
    nav li
    {
        list-style: none;
        height: 94px;
        display: flex;
        align-items: center;
        border-bottom: 3px solid rgba(255, 255, 255, 0);
    }
    nav li:hover
    {
        border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    }
    nav a
    {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
    }
    #line
    {
        width: 35%;
    }
    hr
    {
        width: 100%;
    }
    #logo
    {
        margin-left: 4%;
        margin-right: 3%;
    }
    #destination
    {
        border-bottom: solid 3px white;
    }
    #tit
    {
        color: white;
        display: flex;
        align-items: center;
        font-family: "Barlow Codensed", sans-serif;
        margin-top: 5%;
        margin-left: 20%;
    }
    #number
    {
        color: hsl( 0 0% 100% / .25);
        margin-right: 2%;
    }
    #title
    {
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    #main
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin-left: 10%;
        gap: 4%;
        margin-top: 10%;
    }
    #vehicle
    {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10%;
        width: 100%;
    }
    #spaceport
    {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10%;
        width: 100%;
        display: none;
    }
    #spacecapsule
    {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10%;
        width: 100%;
        display: none;
    }
    #maintechno
    {
        width: 35%;
    }
    #maintechno h4
    {
        color: #d0d6f9;
        text-transform: uppercase;
        font-family: "Bellefair", serif;
        font-weight: 100;
    }
    #maintechno h1
    {
        color: white;
        text-transform: uppercase;
        font-family: "Bellefair", serif;
        font-weight: 100;
        font-size: 50px;
        margin-top: 3%;
        margin-bottom: 3%;
    }
    #maintechno p
    {
        color: #d0d6f9;
    }
    .num2, .num3,.num1
    {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: solid 1px white;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 16px;
        font-size: 40px;
        font-family: "Bellefair", serif;
        cursor: pointer;
    }

    .num1:hover,.num2:hover,.num3:hover
    {
        color: black;
        background-color: white;
    }
    #this
    {
        color: black;
        background-color: white;
    }
    #imgpotrait
    {
        width: 30%;
    }
}

@media (max-width: 770px)
{
    body
    {
        background-image: url('../assets/technology/background-technology-desktop.jpg');
        background-attachment: fixed;
        background-size: cover;
        font-family: "Barlow Codensed", sans-serif;
    }
    #menuphone
    {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        display: none;
    }
    #imghamb 
    {
        width: 100%;
    }
    #menuclose
    {
        margin-top: 2%;
        margin-left: 2%;
        width: 7%;
        cursor: pointer;
    }
    #menuhamb
    {
        margin-right: 5%;
        width: 6%;
        cursor: pointer;
        float: right;
        display: block;
    }
    nav
    {
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 3%;
    }
    nav ul
    {
        display: none;
    }
    #line
    {
        width: 100%;
        display: none;
    }
    hr
    {
        width: 100%;
    }
    #logo
    {
        margin-left: 4%;
        margin-right: 3%;
    }
    #destination
    {
        border-bottom: solid 3px white;
    }
    #tit
    {
        color: white;
        display: flex;
        align-items: center;
        font-family: "Barlow Codensed", sans-serif;
        margin-top: 5%;
        margin-left: 20%;
    }
    #number
    {
        color: hsl( 0 0% 100% / .25);
        margin-right: 2%;
    }
    #title
    {
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    #main
    {
        width: 90%;
        margin-left: 5%;
        margin-top: 10%;
    }
    #numbers
    {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2%;
    }
    #vehicle
    {
        width: 100%;
    }
    #spaceport
    {
        width: 100%;
        display: none;
    }
    #spacecapsule
    {
        width: 100%;
        display: none;
    }
    #maintechno
    {
        width: 40%;
        text-align: center;
        margin-left: 30%;
        margin-bottom: 10%;
        margin-top: 5%;
    }
    #maintechno h4
    {
        color: #d0d6f9;
        text-transform: uppercase;
        font-family: "Bellefair", serif;
        font-weight: 100;
    }
    #maintechno h1
    {
        color: white;
        text-transform: uppercase;
        font-family: "Bellefair", serif;
        font-weight: 100;
        font-size: 40px;
        margin-top: 3%;
        margin-bottom: 3%;
    }
    #maintechno p
    {
        color: #d0d6f9;
    }
    .num2, .num3,.num1
    {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: solid 1px white;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 16px;
        font-size: 40px;
        font-family: "Bellefair", serif;
        cursor: pointer;
    }

    .num1:hover,.num2:hover,.num3:hover
    {
        color: black;
        background-color: white;
    }
    #this
    {
        color: black;
        background-color: white;
    }
    #imgpotrait
    {
        width: 40%;
        margin-left: 30%;
    }
    #navbarmin a
    {
        color: white;
        text-decoration: none;
        font-size: 25px;
        text-transform: uppercase;
    }
    #navbarmin
    {
        display: flex;
        align-items: center;
        height: 50%;
        margin-top: 25%;
        justify-content: center;
    }
    #navbarmin ul
    {
        display: inline-block;
        text-align: center;
    }
    #navbarmin li
    {
        list-style: none;
        margin-bottom: 5%;
    }
    #navbarmin li:hover
    {
        border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    }
    .op
    {
        overflow-y: hidden;
    }
}